parameters:
	paths:
		- includes/OM4_Plugin_Appearance.php
		- om4-custom-css.php
		- tests
	excludePaths:
		- tests/bootstrap.php
	scanDirectories:
		- includes/scssphp
	fileExtensions:
		- php
	level: max
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$va(r|lue) of function strval expects bool\\|float\\|int\\|resource\\|string\\|null, mixed given\\.$#"
			count: 2
			path: om4-custom-css.php
